*{
	margin: 0;
	padding: 0;
}

a, a:hover,
a:visited, a:active{
	color: #FFF;
}

header {
	background-image: url('../images/bg-3.jpg');
	background-repeat: no-repeat;
	background-position: center center; 
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;   
}

header:before{
    zoom: 1;
    filter: alpha(opacity=60);
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    -webkit-transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    /*background: -moz-linear-gradient(left, #0008FF 0, #df2829 100%);
    background: -webkit-gradient(linear, left top, right top, from(0, #0008FF), to(100%, #df2829));
    background: -webkit-linear-gradient(left, #0008FF 0, #df2829 100%);
    background: -o-linear-gradient(left, #0008FF 0, #df2829 100%);
    background: -ms-linear-gradient(left, #0008FF 0, #df2829 100%);
    background: linear-gradient(to right, #0008FF 0, #df2829 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0008FF', endColorstr='#df2829', GradientType=1);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(134deg, #0008FF, #3a7bd5, #4ca1af, #df2829, #0008FF);
	background-size: 800% 800%;
	-webkit-animation: bg-change 40s ease infinite;
	-moz-animation: bg-change 40s ease infinite;
	animation: bg-change 40s ease infinite;
}


@-webkit-keyframes bg-change {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@-moz-keyframes bg-change {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}
@keyframes bg-change { 
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
}

.logo{
	height: 100vh;
	width: 100vw;
	z-index: 1;
	opacity: .95;
}

img{
	top: 36%;
    transform: translate(-50%, -50%);
    left: 50%;
	position: absolute;
	height: 258px;
	width: 484px;
}

h2{
	top: 55.5%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 100;
	color: #FFF;
	opacity: 0.9;
	font-family: 'Open Sans', sans-serif;
}

footer{
	position: absolute;
	bottom: 10%;
	transform: translate(-50%, 0%);
    left: 50%;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 100;
}

footer p{
	margin: 10px auto;
}
.pipe{
	height:32px;
	width:2px;
	background: #FFF;
	margin: -4px 7px;
	display: inline-block;
}

@media only screen and (max-width: 570px) {
	.logo img{
		top: 36%;
		height: 146px ;
		width: 300px ;
	}

	h2{
		top: 49%;
	    transform: translate(-50%, -50%);
	    font-size: 18px;
	}
	
}